:root {
  --primary: #2f2e2b;
  --secondary: #ffffff;
  --tertiary: #6d695e;
  --accent: #cecece;
}
@font-face {
  font-family: "inter";
  src: url("./fonts/Inter-Bold.ttf") format("woff");
  src: url("./fonts/Inter-Regular.ttf") format("woff");
}
@font-face {
  font-family: "lora";
  src: url("./fonts/Lora-Bold.ttf") format("woff");
  src: url("./fonts/Lora-SemiBold.ttf") format("woff");
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: "inter", sans-serif;
  /* padding: 0 8px; */
  margin: 0;
}

/* style Box Prompt + Update  */

#prompt {
  background-color: #242321;
  border: 1px solid #6d695e;
  border-radius: 17px;
  height: 14vh;
  width: 80vw;
  margin-bottom: 16px;
  color: #ffffff;
}
textarea#prompt {
  text-align: start;
  padding: 12px;
}

.box {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 8px;
  color: #6d695e;
  margin-right: 16px;
  padding: 8px 16px;
}

.button-submit {
  background-color: #6d695e;
  color: #cecece;
}

.button-exemple {
  background-color: transparent;
  border: 1px solid #6d695e;
  color: #ffffff;
}

.buttons {
  display: flex;
  justify-content: center;
}
